*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
}
nav{
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: rgb(241, 199, 147);
   height: 80px;
   
}
nav ul {
    display: flex;
    font-size: 18px;

}
nav ul li{
    margin-left: 50px;
    list-style: none;
    
}
nav ul li a{
    color: black;
}
nav img{
    height: 150px;
    width: 250px;
}
.ul1{
    margin-left: -20px;
}
.ul2{
    margin-top: 5px;
}
nav button{
    height: 30px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: -10px;
}
.dropdown{
    background-color: rgb(241, 199, 147);
    width:  100px;
    z-index: 1;
    display: none;
    position: absolute;
}
.dropdown a{
    display: block;
    padding-bottom: 10px;
}
.navitem:hover .dropdown{
    display: block;
}
nav a:hover{
    font-size: 20px;
}
nav ion-icon{
    font-size: 25px;
    /* margin-top: 5px; */
}
 
.container{
    height: 500px;
    width: 85%;
    background-color: bisque;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 20px;
    z-index: 1;
}
#image1{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    margin-left: -20px;
}
.content1{
    display: flex;
}
.italian{
    display: flex;
    margin-top: 30px;
    margin-left: 200px;
}
.images{
    margin-top: -200px;
   
}
.italian img{
    height: 200px;
    width: 200px;
    margin-left: 50px;
    border-radius: 30px;
}

#A1{
    height: 250px;
    width: 350px;
    margin-top: 50px;
    margin-left: 300px;
    border-radius: 30px;
}
.data{
    margin-left: 50px;
   
}
.data h3{
    font-size: 60px;
    margin-right: -50px;
    margin-left: 150px;
    margin-top: -5px;
}
.data button{
    height: 40px;
    width: 200px;
    background-color: black;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 20px;
    color: white;
}
.container2{
    height: 500px;
    width: 85%;
    background-color: bisque;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 20px;
    display: flex;
    z-index: 2;
    translate: Y(-500px);
    margin-bottom: 100px;
   
}

.A2 img{
    height: 300px;
    width: 250px;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 20px;
    
}
.A2{
    display: flex;
}
#B3{
    margin-top: 20px;
    height: 200px;
    border-radius: 20px;
}
#B1{
    transform: rotate(-20deg);
}
#B2{
    transform: rotate(10px);
}
.data2 h3{
    font-size: 50px;
}
.data2 button{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 30px;
}
.data2{
    margin-top: 160px;
    margin-left: 50px;
}
.conteiner4{
    display: flex;
    align-items: center;
    justify-content: center ;
    min-height: 100vh;
    margin-top: 150px
}
.recipie_dish img{
    height: 150px;
    width: 150px;
   border-radius: 10px;
    border: 3px black solid;
    padding: 5px;
}
 .recipie_dish{
    width: 300px;
    padding: 20px;
    background-color: rgb(239, 213, 179);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.slide_wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}
 .slide_button{
    color: black;
}
.swiper-pagination-bullet{
    background: black;
    
}
.recipie_dish button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 6px;
}
.recipie_dish button:hover{
    cursor: pointer;
    font-size: 16px;
}
